<div class="bg-purple full-height">

    <ul class="list-group list-group-flush bg-purple">
        <li class="list-group-item" style="font-family: Gugi; font-size: 30px; height: 100px; color: white; background-color: purple">Mailfriend.</li>
    </ul>

</div>