<!-- Generate Cards for Each Record -->
<div class="text-center">
    <i style="font-size: 20em; margin-top: 0.3em" class="text-purple fas fa-check"></i>
    <br>
    <br>
    <br>
    <span>Your message was sent succesfully.</span>
    <br>
    <br>
    <a href="/usercontent/entries/show">
        <button class="btn btn-purple">Return to Inbox</button>
    </a>
</div>