<!-- Generate Cards for Each Record -->

<div class="row">
  <div class="col text-left">
    <h2>Your outbox.</h2>
    <br>
  </div>
  <div class="col text-right">
    <a href="/usercontent/entries/add/prompt"><button class="btn btn-purple">Compose New Message<i class="far fa-paper-plane ml-3"></i></button></a>
  </div>
</div>

<!--Only show this if no records exist for the user's account-->

<table class="table table">
  <thead class="thead-purple">
    <th class="text-center" style="width: 50px"></th>
    <th style="width: 150px">To</th>
    <th style="width: 200px">Date Sent</th>
    <th>Message</th>
  </thead>

  {{# each entries}}
    <tr>
      <td class="text-center">
        <div class="btn text-purple">
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </td>
      <td>{{this.sendto}}</td>
      <td>{{this.timestamp}}</td>
      <td>{{this.messagecontent}}</td>
    </tr>

  {{else}}
    <div>It doesn't appear that you have sent any messages yet.</div>
    <br>

  {{/each}}

</table>

<br>